@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

    --astra: url("../resources/agents/astra.webp");
    --brimstone: url("../resources/agents/brim.webp");
    --clove: url("../resources/agents/clove.webp");
    --harbor: url("../resources/agents/harbor.webp");
    --omen: url("../resources/agents/omen.webp");
    --viper: url("../resources/agents/viper.webp");
    --iso: url("../resources/agents/iso.webp");
    --jett: url("../resources/agents/jett.webp");
    --neon: url("../resources/agents/neon.webp");
    --phoenix: url("../resources/agents/phoenix.webp");
    --raze: url("../resources/agents/raze.webp");
    --reyna: url("../resources/agents/reyna.webp");
    --yoru: url("../resources/agents/yoru.webp");
    --breach: url("../resources/agents/breach.webp");
    --fade: url("../resources/agents/fade.webp");
    --gekko: url("../resources/agents/gekko.webp");
    --kayo: url("../resources/agents/kayo.webp");
    --skye: url("../resources/agents/skye.webp");
    --sova: url("../resources/agents/sova.webp");
    --chamber: url("../resources/agents/chamber.webp");
    --cypher: url("../resources/agents/cypher.webp");
    --deadlock: url("../resources/agents/deadlock.webp");
    --killjoy: url("../resources/agents/killjoy.webp");
    --sage: url("../resources/agents/sage.webp");

    --ascent: url("../resources/map-layouts/ascent.png");
    --bind: url("../resources/map-layouts/bind.png");
    --breeze: url("../resources/map-layouts/breeze.png");
    --icebox: url("../resources/map-layouts/icebox.png");
    --lotus: url("../resources/map-layouts/lotus.png");
    --split: url("../resources/map-layouts/split.png");
    --sunset: url("../resources/map-layouts/sunset.png");

    --agent-size: 20px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #03031a;
    color: white;
    font-size: 0;
}

h3 {
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto auto;
    width: fit-content;
}

#map-selection {
    display: block;
    margin-top: 18vh;
}
#agent-selection {
    display: none;
    margin-top: 24vh;
}
#strategy {
    display: none;
    margin-top: 4vh;
}

.maps {
    margin-top: 40px;
}

.select-map-button {
    position: absolute;
    border: none;
    width: 270px;
    height: 66px;   
    transition: 150ms;
    cursor: pointer;
    top: 0px;
    left: 0px;
}

.select-map-button:hover {
    top: 3px;
}

.select-map-button:active {
    top: 5px;
}

.select-map-container {
    position: relative;
    margin: 10px;
    width: 270px;
    height: 66px;
}

#select-map-button--ascent {
    background: url("../resources/buttons/ascent.png");
}
#select-map-button--bind {
    background: url("../resources/buttons/bind.png");
}
#select-map-button--breeze {
    background: url("../resources/buttons/breeze.png");
}
#select-map-button--icebox {
    background: url("../resources/buttons/icebox.png");
}
#select-map-button--lotus {
    background: url("../resources/buttons/lotus.png");
}
#select-map-button--split {
    background: url("../resources/buttons/split.png");
}
#select-map-button--sunset {
    background: url("../resources/buttons/sunset.png");
}

#agents-to-select-container {
    margin-top: 60px;
}

.agents-to-select {
    margin: 10px 0;
}

.agent-to-select-container {
    width: 75px;
    height: 75px;
    list-style: none;
    display: inline-block;
    margin: 5px;
    position: relative;
}

.agent-to-select {
    width: 75px;
    height: 75px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transition: 250ms;
}

.agent-to-select:hover {
    top: 3px;
}
.agent-to-select:active {
    top: 5px;
}

#agent-to-select--astra {
    background: var(--astra);
}
#agent-to-select--brimstone {
    background: var(--brimstone);
}
#agent-to-select--clove {
    background: var(--clove);
}
#agent-to-select--harbor {
    background: var(--harbor);
}
#agent-to-select--omen {
    background: var(--omen);
}
#agent-to-select--viper {
    background: var(--viper);
}
#agent-to-select--iso {
    background: var(--iso);
}
#agent-to-select--jett {
    background: var(--jett);
}
#agent-to-select--neon {
    background: var(--neon);
}
#agent-to-select--phoenix {
    background: var(--phoenix);
}
#agent-to-select--raze {
    background: var(--raze);
}
#agent-to-select--reyna {
    background: var(--reyna);
}
#agent-to-select--yoru {
    background: var(--yoru);
}
#agent-to-select--breach {
    background: var(--breach);
}
#agent-to-select--fade {
    background: var(--fade);
}
#agent-to-select--gekko {
    background: var(--gekko);
}
#agent-to-select--kayo {
    background: var(--kayo);
}
#agent-to-select--skye {
    background: var(--skye);
}
#agent-to-select--sova {
    background: var(--sova);
}
#agent-to-select--chamber {
    background: var(--chamber);
}
#agent-to-select--cypher {
    background: var(--cypher);
}
#agent-to-select--deadlock {
    background: var(--deadlock);
}
#agent-to-select--killjoy {
    background: var(--killjoy);
}
#agent-to-select--sage {
    background: var(--sage);
}

.map {
    position: relative;
    background-repeat: no-repeat;
    margin-top: 3vh;
}

#map--ascent {
    background: var(--ascent);
    width: 752px;
    height: 804px;
}
#map--bind {
    background: var(--bind);
    width: 780px;
    height: 819px;
}
#map--breeze {
    background: var(--breeze);
    width: 803px;
    height: 787px;
}
#map--icebox {
    background: var(--icebox);
    width: 716px;
    height: 811px;
}
#map--lotus {
    background: var(--lotus);
    width: 795px;
    height: 706px;
    margin-top: calc(3vh + 75px);
}
#map--split {
    background: var(--split);
    width: 805px;
    height: 757px;
}
#map--sunset {
    background: var(--sunset);
    width: 773px;
    height: 816px;
}

.agent {
    position: absolute;
    width: var(--agent-size);
    height: var(--agent-size);
    z-index: 2;
}

.card {
    background-color: rgb(255, 50, 50);
    border-radius: 3px;
    width: calc(var(--agent-size) + 4px);
    height: calc(var(--agent-size) + 4px);
    position: absolute;
    z-index: 1;
    filter: drop-shadow(0px 4px 3px #000);
}